/* font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

h1{
font-family: "Playfair Display", serif;
font-weight:500;
font-size: 32px;
color: #F2F2F2;
}

h2{
font-family: "Playfair Display", serif;
font-weight:400;
font-size: 24px;
color: #F2F2F2;

}

h3{
font-family: "Playfair Display", serif;
font-weight:400;
font-size: 20px;
color: #F2F2F2;
margin: 0;


}

p{
font-family: "Mulish", sans-serif;
font-weight:400;
font-size: 16px;
color: #F2F2F2;

}

*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --stdPadding: 0px;
    --stdMargin: 0px;
    --text: #F2F2F2;
    --icon:#B2857F;
    --rosé:#FF8574;
    --ultraDarkRed:#4C121E;
    --darkRed:#6A121E;
    --red:#9C121E;
    --footerBlack:#110106;
    --background:#262022;
}


body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    height: 100vh;
    
}

/*------- forside -------*/


.homeHeroImage{
    background-image: url(../Img/mobil_img/Forside/hero1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeHeroText{
    text-align: center;
}
.homeH1{
    font-size: 48px;
    margin: 0;
}

.aboutDwineBar{
    padding: 10%;
    background-color: var(--background);
    text-align: center;
}

/* gradient kanp */
a{
    text-decoration: none;
    color: var(--text);
}
.gradientBtn{
    background:linear-gradient(var(--background), var(--background)) padding-box,
    linear-gradient(#D97264, #F25D6A) border-box;
    color: var(--text);
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 40px;
    border: 2.5px solid transparent;
    margin-top: 1rem;
    cursor: pointer;
}
.gradientBtn:hover{
    background-image: linear-gradient(to right,#f18475 0%, #F25D6A 20%, #e96b5a 90%, #ff7e6d 100%);
    color: white;
}

.homeIcon{
    padding:10%;
    background-color: var(--ultraDarkRed);
    text-align: center;
}
.threeIcons{
    margin-top: 4rem ;
}
.threeReasonIcon{
    margin-left: 20%;
    margin-right: 20%;
}
.homeWine{
    padding: 10%;
    background-color: var(--background);
    text-align: center;
}
hr{
    width: 8rem;
    border: 0;
    height: 1px;
    background-color: var(--icon);
}
.introIcon{
    margin: 2rem;
    display: flex;
    align-items: center;
}
/* åbningstider */
.openingsHoursSection{
    background-image: url(../Img/mobil_img/Forside/åbningstiderBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    justify-content: center;

}
.openingHoursBox{
    border: 5px white solid;
    padding: 20px 0px 20px 0px;
    background-color: rgba(0, 0, 0, 0.1);  
    max-width: 500px;
    min-width: 350px;
    width: 100%;
    margin: 10%;
}
.openingHours{
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
th, td{
    text-align: center;
    text-transform: uppercase;
    color: var(--text);
    font-family: "Mulish", sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 35px 5px 35px;
}
table{
    margin-left: auto;
    margin-right: auto;
}

/*Progressiv disclosure (entry points)*/
.entryPoints{
    background-color: var(--background);
    padding: 10%;
}
.mainCard{
    background-color: var(--darkRed);
}
.entrypointLine{
    width: 6rem;
    background-color: var(--text);
    margin: 1rem auto;
}
.firstSubCard{
    background-image: url(../Img/mobil_img/focused_Entry_Points/quiz_Aften.png);
}
.secondSubCard{
    background-image: url(../Img/mobil_img/focused_Entry_Points/jubilæumsfest.png);
}
.cards{
    margin-top: 10px;
    padding: 40px 30px 40px 30px;
    max-width: 360px;
    height: 420px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center; 
}
/* white button */
.eventsBtn{
    cursor: pointer;
    color: var(--text);
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 40px;
    border: 2.5px solid var(--text);
    margin: 1rem;
    background-color: transparent;
}
.eventsBtn:hover{
    background-color: var(--text);
    color: var(--background);
}
/* ------------ */

@media screen and (max-width: 699px){

    .aboutDwineImagesSection{
        display: none;
    }
}


@media screen and (min-width: 700px){

.aboutDwineContent{
    text-align: left;
    
}
.aboutDwineContent{
    max-width: 50%;
    padding-right: 1rem;
}
.aboutDwineBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image1{
    max-width: 70%;
    position: absolute;
    z-index: 1;
    top: 230px;
    left: -50px;
}
.image2{
    max-width: 80%;
    position: relative;
}
.aboutDwineImagesSection{
    text-align: right;
    position: relative;
}
.threeReasonIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.threeIcons{
    padding: 3rem;
}
.entryPoints{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

@media screen and (min-width: 900px){
    
    .homeHeroImage{
        height: 90vh;
    }

    h1, .homeH1{
        font-size: 88px;
    }

    h2{
        font-size: 64px;
    }
    
    h3{
        font-size: 48px;
    }
    
    p{
        font-size: 24px;
    }
    a{
        font-size: 20px;
    }
    th, td{
        font-size: 28px;
        padding: 10px 100px 10px 100px;
    }
    .openingHoursBox{
        max-width: 900px;
        padding: 3rem;
    }
    .cards{
        height: 620px;
        max-width: 480px;
    }
    .entryPoints{
        /* display: flex;
        justify-content: space-between;
        gap: 1rem; */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
        gap: 1rem;
        padding: 5%;
    }
}




/* --------------------- */