.heroPI{
    background-image: url(../Img/mobil_img/praktisk_Information/hero.png);
    min-height: 20vh;
    margin-top: 6rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introPI, .indendørs img, .indendørs p, .udendørs img, .udendørs p{
    margin-left: 10%;
    margin-right: 10%;
}

.introPI h3{
    text-align: center;
}

.indendørs, .udendørs{
    background-color: #4C121E;
}

.indendørs h3, .udendørs h3{
    text-align: center;
    padding-top:2rem;
}

.indendørs img, .udendørs img{
    padding-bottom: 2rem;
    width: 100%;
    max-width: 80%;
    height: auto;
}

.kontaktPI{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}

.kontaktPI h3{
    text-align: center;
}

.kontaktPI hr{
    width: 200px;
}

.kontaktPI .location{
    flex-direction: column;
}

.locationIcon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

iframe{
    height: 40vh;
    width: 100%;
}

.kontaktPI .location hr{
    margin-top: -2rem;
    margin-bottom: -1rem;
}

.gavekort{
    margin-left: 10%;
    margin-right: 10%;
}

.gavekort img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.gavekort h3{
    text-align: center;
}

@media(min-width: 768px){
    
    .heroPI{
        background-image: url(../Img/desktop_img/praktisk_Information/hero.png);
        min-height: 40vh;
    }
}

@media(min-width: 1024px){
.heroMV{
    background-image: url(../Img/desktop_img/månedens_vin/hero.png);
    min-height: 60vh;
}

.faciliteter{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-left: 3%;
    margin-right: 3%;
}

.indendørs, .udendørs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gavekort{
    max-width: 60%;
}

.gavekort{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gavekort h3, .gavekort p{
    grid-column: 1/2;
}

}