.specifikFlex{
    margin-top: 8rem;
}

.specifikImg{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.specifikIntro, .specifikIcons, .specifikButton, .specfikDescription, .specifikImg{
    margin-left: 10%;
    margin-right: 10%;
}

.specifikTime, .specifikLocation, .specifikPrice  {
    display: flex;
    gap: 1rem;
}

.specifikButton, .eventsBtn{
cursor: pointer;
    color: var(--text);
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 40px;
    border: 2.5px solid var(--text);
    background-color: transparent;
}

.specifikButton:hover, .eventsBtn:hover{
    background-color: var(--text);
    color: var(--background);
}

/*Progressiv disclosure (entry points)*/
.entryPoints{
    background-color: var(--background);
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainCard{
    background-color: var(--darkRed);
}
.entrypointLine{
    width: 6rem;
    background-color: var(--text);
    margin: 1rem auto;
}
.firstSubCard{
    background-image: url(../Img/mobil_img/focused_Entry_Points/menu.png);
}
.secondSubCard{
    background-image: url(../Img/mobil_img/focused_Entry_Points/månedens_Vine.png);
}
.cards{
    margin-top: 10px;
    padding: 40px 30px 40px 30px;
    max-width: 360px;
    height: 420px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center; 
}

@media(min-width: 768px){
    .specifikIntro, .specifikIcons, .specifikButton, .specfikDescription, .specifikImg{
        margin-left: 5%;
        margin-right: 5%;
    }

    .entryPoints{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1rem;
        padding: 5%;
    }
    .entryTitle{
        font-size: 20px;
    }
}

@media(min-width: 1024px){
    .specifikFlex{
        display: flex;
    }

    .specifikImg{
        margin-top: 0;
    }

    .specifikIntro, .specifikIcons, .specifikButton, .specfikDescription, .specifikImg{
        margin-left: 5%;
        margin-right: 5%;
    }

    .specifikImg img{
        max-width: 30vw;
    }
}