.herosectionVoresIdentitet{
    width: 100%;
    height: auto;
    position: relative;
}
 
.herosectionVoresIdentitet img{
    width: 100%;
}
 
.heroTitleVoresIntitet{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 
.voresIdentitetMobileTitle{
    text-align: center;
}
.voresdroem{
    background-color: var(--ultraDarkRed);
}
.vinMedPersonlighedSection, .voresDroemContent{
    padding: 10%;
}
.voresIdentitetImages{
    max-width: 100%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;  
}
.partnersInWineContent{
    padding: 10%;
    padding-bottom: 0;
}
.partnersInWineCards{
    background-color: var(--darkRed);
    padding: 10%;
    margin: 10%;
    margin-top: 0;
}

.partnersInWineTitle{
    font-size: 20px;
    color:#F2F2F2;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
ul{
    color: #F2F2F2;
    padding: 0;
}
/*Progressiv disclosure (entry points)*/
.entryPoints{
    background-color: var(--background);
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainCard{
    background-color: var(--darkRed);
}
.entrypointLine{
    width: 6rem;
    background-color: var(--text);
    margin: 1rem auto;
}
.firstSubCard{
    background-image: url(../Img/mobil_img/focused_Entry_Points/menu.png);
}
.secondSubCard{
    background-image: url(../Img/mobil_img/focused_Entry_Points/månedens_Vine.png);
}
.cards{
    margin-top: 10px;
    padding: 40px 30px 40px 30px;
    max-width: 360px;
    height: 420px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.eventsBtn{
    cursor: pointer;
    color: #F2F2F2;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 40px;
    border: 2.5px solid #F2F2F2;
    margin: 1rem;
    background-color: transparent;
}
.eventsBtn:hover{
    background-color: #F2F2F2;
    color: var(--background);
}
/* ---- */
 
@media screen and (min-width: 768px){
    .entryPoints{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1rem;
        padding: 5%;
    }
    .entryTitle{
        font-size: 20px;
    }
    .entryContent{
        font-size: 16px;
    }
 
   
}
 
@media screen and (min-width: 1024px){
    .voresIdentitetMobile{
        margin-left: 20%;
        margin-right: 20%;
    }
 
.vinMedPersonlighedSection, .voresDroemContent,
.partnersInWineContent{
     padding: 5%;
}
.partnersInWineCards{
    margin: 5%;
    margin-top: 0;
    padding: 5%;
}

.partnersInWineCardsSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.identitetDesktop{
     display: grid;
     grid-template-columns: 1fr 500px;
     align-items: center;
}
 
.identitetH3{
    text-align: start;
    margin-top: 0;
}
.identitetContent{
    margin-right: 10%;
}
.identitetDesktopFlex{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.voresIdentitetDesktopImage2{
    max-width: 500px;
    margin: 0;
    position: relative;
    top: 7%;
}
.identitetVoresDroem{
    text-align: start;
    margin-left: 10%;
}
.partnersInWineTitle{
    font-size: 30px;
}
li{
    font-size: 20px;
}
}